h1 {
	color: #7B68EE;

}
h2 {
	font-family: "Times New Roman", Georgia, Serif;
}
h3 {
	font-family: "Times New Roman", Georgia, Serif;
}
body {
	color: #FF1493;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-image: url("http://www.wallpapersdb.org/wallpapers/world/hollywood_hill_1920x1440.jpg");
}
